body
{
    padding:0;
    margin:0;
    font-family:'sans-serif';
    font-weight:500;
}

h1
{
    font-size: 1.5rem;
    margin-left:2px;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2
{
    font-size:1.1rem;
    font-weight:717;
}
a
{
    text-decoration:none;
    color:red;
   
}
a:hover
{
    text-decoration:underline;
}
section.section-1 {
    color: rgb(255, 255, 255);
    height: auto;
    width: 60%;
    margin-bottom: 8em;

}
h1.name-header {
    font-size: 3rem;
    line-height: 3.3rem;
    color: rgb(255, 252, 252);
    margin-top: 2rem;

}

.name {
    color: rgb(228, 7, 7);
    border-radius: .5rem;

}
.sub-name{
    font-weight: bold;
    color: white;
    background: rgb(227, 7,7);
    padding: .4em;
    border-radius: .4rem;
    margin-left: 14px;
}
.main-screen
{
    display:flex;
    flex-direction: row;

}

.left
{
  
    background-image: url('bg.svg');
    background-color: rgb(29, 27, 27);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    color:antiquewhite;
    height:100vh;
    width:30%;
    align-items: center;
    padding-bottom: 0%;
    margin-bottom: 0%;

}
.left, .right
{
    display:flex;
    justify-content: center;
    
}
.right
{
    
    display:flex;
    flex-direction: column;
    margin-top:0px;
    height: 100vh;
    position: relative;
    margin-left: 30%;
    width: 20%;
    
}
.right .copy
{
    color:black;
    font-weight: 500;
}
#footer
{
    position:fixed;
    padding-left:45%;
    margin-right: 10px;
    bottom:0;
    width:100%;
    height:40px;

}
#footer a
{
    color:rgb(255, 0, 0);
}
@media screen and (max-width:480px) {
    .left
    {
        display:none;
    }
    
}
span{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
    margin-bottom: 50%;
    margin-left: -45%;
  }
  span a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
  span a:before,
  span a:after{
    position: absolute;
    content: "STUDENT";
    height: 125px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 20px;
  }
  span a:before{
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
  }
  span a:after{
    color: black;
    background: rgb(185, 169, 169);
    transform: rotateX(90deg) translateZ(25px);
  }
  span a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }
  .span1{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
    margin-bottom: 40%;
    margin-left: -45%;
  }
  .span1 a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
  .span1 a:before,
  .span1 a:after{
    position: absolute;
    content: "WARDEN";
    height: 125px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 20px;
  }
  .span1 a:before{
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
  }
  .span1 a:after{
    color: black;
    background: rgb(185, 169, 169);
    transform: rotateX(90deg) translateZ(25px);
  }
  .span1 a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }
  